@use '@angular/material' as mat;

:host {
    @include mat.sidenav-overrides((container-shape: 0));
}

.mat-sidenav-adapter {
    transition: color 0.3s ease, background-color 0.3s ease;

    mat-sidenav {
        @extend .mat-sidenav-adapter;
        max-width: 138px;
    }

    mat-sidenav-content {
        @extend .mat-sidenav-adapter;
        margin-block-start: 54px;
    }
}
