<main class="main">
    <main-navigation [title]="title" [iconName]="iconName">
        <ng-container id="main-mat-sidenav-adapter">
            <nav class="nav-menu-container">
                <ul class="nav-menu">
                    @for (item of navMenuItems; track item.link) {
                    <li>
                        <a [class]="item.link + '-link'" [routerLink]="item.link" routerLinkActive="active" matButton>
                            <span class="nav-menu-link-icon-container">
                                <mat-icon [fontSet]="fontSet">{{ item.icon }}</mat-icon>
                                <span>{{ item.label }}</span>
                            </span>
                        </a>
                    </li>
                    }
                </ul>
            </nav>
        </ng-container>
        <ng-container id="main-mat-sidenav-content-adapter">
            <router-outlet />
        </ng-container>
    </main-navigation>
</main>
