@use '@angular/material' as mat;

main.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul.nav-menu {
    flex: 1 1 auto;
    width: 100%;
    padding: 0;

    @include mat.button-overrides((text-container-shape: 0,
            text-container-height: auto,
            text-label-text-color: var(--mat-sys-on-surface-variant)));

    li {
        width: 100%;
        list-style: none;

        a {
            width: 100%;
            padding-block: 1.25rem;
            transition: color 0.3s ease;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 2px;
                opacity: 0;
                background-color: var(--mat-sys-on-background);
                transform: scale(.6);
                transition: opacity 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
            }

            &:hover {
                @include mat.button-overrides((text-label-text-color: var(--mat-sys-on-background)));
            }

            &.active::before {
                opacity: 1;
                transform: scaleY(.8);
            }
        }
    }
}

span.nav-menu-link-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}
