<main class="main">
    <main-navigation [title]="title" [iconName]="iconName">
        <ng-container id="main-mat-sidenav-adapter">
            <nav class="nav-menu-container">
                <ul class="nav-menu">
                    <li>
                        <a class="description-link" routerLink="/description" matButton>
                            <span class="nav-menu-link-icon-container">
                                <mat-icon [fontSet]="fontSet">description</mat-icon>
                                <span>Description</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="playground-link" routerLink="/playground" matButton>
                            <span class="nav-menu-link-icon-container">
                                <mat-icon [fontSet]="fontSet">code</mat-icon>
                                <span>Playground</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </ng-container>
        <ng-container id="main-mat-sidenav-content-adapter">
            <router-outlet />
        </ng-container>
    </main-navigation>
</main>
