@use '@angular/material' as mat;

@use '../../../style/definitions.scss';

section.navigation {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header.header {
    flex: none;
    width: 100%;
    height: 54px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--mat-sys-on-background);
    background-color: var(--mat-sys-background);
    border-block-end: solid 1px var(--mat-sys-outline-variant);
    transition: color 0.3s ease, background-color 0.3s ease;

    mat-slide-toggle {
        padding-inline: 16px;
    }
}

a.home-link {
    height: 100%;

    @include mat.button-overrides((text-container-shape: 0));
}

span.home-link-icon-container {
    @extend .icon-container;
    color: transparent;
    font-weight: 600;

    mat-icon {
        background: linear-gradient(90deg, var(--mat-sys-primary) 0%, var(--mat-sys-secondary) 25%, var(--mat-sys-tertiary) 50%, var(--mat-sys-secondary) 75%, var(--mat-sys-primary) 100%) {
            clip: text;
        }
    }

    span {
        flex: none;
        letter-spacing: -2px;
        padding-inline: 0.5rem;

        background: linear-gradient(90deg, var(--mat-sys-primary) 0%, var(--mat-sys-secondary) 50%, var(--mat-sys-tertiary) 100%) {
            clip: text;
        }
    }
}

div.color-scheme-toggle-container {
    margin-inline-end: 16px;
}

button.color-scheme-toggle-button {
    font-size: 2rem;
}

span.color-scheme-toggle-button-icon-container {
    @extend .icon-container;
    color: var(--mat-sys-on-background);
}

ul.color-scheme-menu {
    padding: 0;

    @include mat.menu-overrides((item-spacing: 0,
            item-icon-size: 32px,
        ));

    li {
        list-style: none;

        button {
            mat-icon {
                font-size: 2rem;
            }

            span {
                padding-inline-start: 0.5rem;
            }
        }
    }
}

nav.nav-menu-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-inline-end: 1px solid var(--mat-sys-outline-variant);
}

div.content-container {
    width: 100%;
    height: calc(100vh - 54px);
    overflow: auto;
    scrollbar-gutter: stable both-edges;
    position: relative;

    &::-webkit-scrollbar {
        width: 8px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: var(--mat-sys-primary);
    }
}
