<section class="navigation">
    <header class="header">
        <a class="home-link" href="/" matButton>
            <span class="home-link-container">
                @if (icons) {
                    <mat-icon [svgIcon]="iconName" />
                } @else {
                    <mat-icon [fontSet]="fontSet">{{ iconName }}</mat-icon>
                }
                <span>Axio</span>
            </span>
        </a>
        <h1>{{ title }}</h1>
        <div class="light-dark-toggle">
            @if (colorSchemes) {
                <mat-slide-toggle [(ngModel)]="colorSchemeToggle" (toggleChange)="onColorSchemeToggle()" labelPosition="before" hideIcon />
            }
        </div>
    </header>
    <main-mat-sidenav-adapter>
        <ng-content></ng-content>
    </main-mat-sidenav-adapter>
</section>
